@model  MVCDemoPage.Models.PageOfList<MVCDemoPage.Models.Order>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="body" style="width:400px;float:left">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get)) 
    {
       <table>
           <tr>
               <th>ID</th>
               <th>訂單號</th>
               <th>運單號</th>
               <th>運費</th>
           </tr>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model.ToList())
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.OrderNo</td>
                        <td>@item.EMS</td>
                        <td>@item.WayFee</td>
                    </tr>
                }
            }
       </table>
       @MVCDemoPage.Models.ExtHelper.UlPaging(this.Html,Model)
    }
    
</div>
